@charset "UTF-8";

.enLineaVerde {

	display: flex;
	background-color: lightgreen;
}

.enLinea {

	display: flex;
}

.borde {

	border: 1px solid skyblue;
}

.enLineaNegro {

	display: flex;
	background-color: black;
	color: white;
}

.aLaDerecha {

	margin-right: 2%;
	width: 10%;

}

.aLaIzquierda {

	margin-left: 2%;
	width: 10%;
}

.h1 {

	margin-top: 3%;
	margin-left: 28%;
	margin-right: 28%;
	color: palevioletred;
}

.espacioDerecha {

	margin-right: 20%;
	margin-left: 28%;
	border: 1px solid;
	border-color: red;
	border-style: dotted;
	border-spacing: 28%;
}

.espacioIzquierda {

	margin-left: 20%;
	margin-right: 28%;
	border: 1px solid;
	border-color: red;
	border-style: dotted;
	border-spacing: 28%;

}


.centradoNegro {

	text-align: center;
	background-image: url(Multimedia/nav.png);
	padding: 15px;

}

.centrado {

	text-align: center;

}

.centradoAzul {

	text-align: center;
	color: lightblue;
}
